
body {
  background-color: whitesmoke;
  font-family: 'Merienda', cursive;
}

p {
  margin: auto;
  width: 10em;
}

.guess-button {
  margin: auto;
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width:10em;
  color: black;
}



img {
  max-width: 100%;
  height: auto;
}

#title {
    margin: auto;
    width: 10em;
}
#contentContainer {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
}
#wordContainer {
  height: 50%;
  margin: 5%;
  text-align: center;
}

#guessContainer {
  margin: 5%;
  width: 70%;
}

#hintContainer {
  max-width: 500px;
  max-height: 500px;
}
