body {
  background-color: #0C73B8;
}

p {
  margin: auto;
  width: 10em;
}

.guess-button {
  margin: auto;
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width:10em;
  color: black;
}

.guess-left {
  background-color: #E55126;
}

.guess-taken {
  background-color: #E5A227;
}

/*.guess-taken,
.guess-left, {
  margin: auto;
  padding: 1em 3em 2em 2em;
  color: whitesmoke;
}*/



#title {
    color: whitesmoke;
    margin: auto;
    width: 10em;
}
#contentContainer {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
}
#wordContainer {
  background-color: #4f1d91;
  height: 50%;
  margin: 5%;
  text-align: center;
}

#guessContainer {
  margin: 5%;
  width: 70%;
}
