
body {
  background-color: #ffffff;
  font-family: 'Merienda', cursive;
}

p {
  margin: auto;
  width: 10em;
}

.guess-button {
  margin: auto;
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width:10em;
  color: black;
}


/*.guess-taken,
.guess-left, {
  margin: auto;
  padding: 1em 3em 2em 2em;
  color: whitesmoke;
}*/



#title {
    margin: auto;
    width: 10em;
}
#contentContainer {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
}
#wordContainer {
  height: 50%;
  margin: 5%;
  text-align: center;
}

#guessContainer {
  margin: 5%;
  width: 70%;
}
